<% include header %>

<h1>What's your Zip code?</h1>

<form class="pure-form">
    <fieldset>
        <input id="zipcode" type="number" name="zip" value="12345" autofocus required>
        <input type="submit" class="pure-button pure-button-primary" value="Go">
    </fieldset>
</form>

<script
<script src="/main.js"></script>

<% include footer %>