<% include header %>

<h1>What's your Zip code?</h1>

<form class="pure-form">
    <fieldset>
        <input type="number" name="zip" value="12345" autofocus required>
        <input type="submit" class="pure-button pure-button-primary" value="Go">
    </fieldset>
</form>

<script
  src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script src="/main.js"></script>

<% include footer %>