<% include header %>

<h1>Hit 'Get Stats!' To get you some stats!</h1>

<form class="pure-form">
    <fieldset>
        <input type="submit" class="pure-button pure-button-primary" value="Get Stats!">
    </fieldset>
</form>

<script
<script src="/main.js"></script>

<% include footer %>
